.no-animation{display:none}
.fadeIn-up{animation: 0.75s ease-in-out loadFadeInUp}
.fadeOut-down{animation: 0.75s ease-in-out loadFadeOutDown}

@keyframes loadFadeInUp {
    0%{
        opacity: 0;
        transform: translateY(100px);
    }
    50%{
        opacity: 0.5;
        transform: translateY(-20px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes loadFadeOutDown {
    0%{
        opacity: 1;
        transform: translateY(0px);
    }
    50%{
        opacity: 0.5;
        transform: translateY(120px);
    }
    100%{
        opacity: 0;
        transform: translateY(100px);
        display:none;
    }
}