html,body{
    height:100%;
    padding:0px;
    margin:0px;
    font-size:13px;
    height:100%;
    font-family: 'NanumSquare', sans-serif;
    overflow-x:hidden;
}
a{
    text-decoration: none;
    color:#333;
}
a:visited{
    text-decoration: none;
    color:#333;
}
/* 공통 타이틀 */
.titles{
    text-align:center;
    font-size:25px;
    font-weight: bold;
    margin-top:70px;
    padding-top:30px;
}
.contents{
    font-size:20px;
}
.confirm-btns{
    text-align:center;
    margin-top:20px;
}
/* 회원 메뉴 */
.user-menu{
    background-color: #1685f6;
    padding:10px;
    text-align:right;
    color:white;
}
.user-menu a{
    color:#fff;
    text-decoration: none;
    font-size:12px;
}
/* pc 메뉴 */
.desktop-menu{
    width:100%;
    border-bottom:1px solid #ccc;
    float:left;
}

.desktop-menu .left-menu{
    float:left;
    width:74%;
    line-height:50px;
    height:89px;
}
.desktop-menu .left-menu ul{
    padding:0px;
    float:left;
}
.desktop-menu .right-menu{
    float:right;
    width:25%;
    text-align:right;
}
.desktop-menu .right-menu ul{
    padding:0px;
    float:right;
}
.desktop-menu ul li{
    float: left;
    list-style: none;
    font-size:15px;
    padding:10px;
    min-width:100px;
    width:auto;
}
/* 모바일 메뉴 */
.mobile-menu{
    display:none;
}
.mobile-menu .menubar{
    color:#fff;
    font-size:30px;
}
.mobile-menu .menu-title{
    width:100%;
    text-align: center;
    font-size:20px;

}
.mobile-menu .menu-background{
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    top:0px;
    left:0px;
    width:100%;
    height: 100%;
    z-index: 1100;
}
/* 메인 서비스 내용 */
.main-service{
    margin-top:30px;
    width:100%;
    text-align:center;
    color:#1685f6;
    float:left;
    position:relative;
}

.main-service h2{
    font-weight: bold;
}
.main-service img{
    width:50px;
}
.main-service ul{
    padding:0px;
}
.main-service li{
    float:left;
    text-align:center;
    list-style:none;
    width:33.3%;
    padding-top:10px;
    line-height:20px;
}
.main-service .title{
    font-weight:bold;
    line-height:30px;
}
.main-service .content{
    color:#000;
    font-size:11px;
}
.main-center{
    width:100%;
    overflow:hidden;
    height:380px;
}
 .main-service .main-center-back{
    position:relative;
    top:0px;
    margin-top:40px;
    background-image: url("/images/zerovmain.jpg");
    background-size: cover;
    width:100%;
    height:410px;
    float:left;
    opacity: 0.7;
    z-index:2;
}
.main-service .main-center-content{
    position:relative;
    top:-445px;
    margin-top:40px;
    background-color: rgba(22,133,246,0.7);
    background-size: cover;
    width:100%;
    height:410px;
    float:left;
    opacity: 0.7;
    z-index:3;
}
.main-service .main-center-content .title1{
    margin-top:135px;
    color:#fff;
    font-weight: bold;
    font-size: 20px;
}
.main-service .main-center-content .title2{
    color:#fff;
    font-weight: bold;
    font-size: 12px;
    margin-top:15px;
    margin-bottom:15px
}
.main-service .line{
    border-bottom: 1px solid #fff;
    height:1px;
    width:80%;
    margin:0 auto;
}
.main-service .main-center-image{
    position:absolute;
    top:0px;
    background-color: rgba(22,133,246,0.5);

    background-position: 50% 50%;
    background-size: cover;
    width:100%;
    height:410px;
    float:left;
    opacity: 0.2;
}
.main-service .btn{
    margin-top:20px;
    width:200px;
    height:30px;
    color:#fff;

}
/* 메인 연락처 */
.main-contact{
    width:100%;

    float:left;
}
.main-contact .main-content{
    margin:0 auto;
    width:100%;
    padding:30px;
    max-width:1280px;
}
.main-contact .main-content .infomation{
    float:left;
    width:48%;
    border:1px solid #ccc;
    border-radius: 5px;
    padding:20px;
}
.main-contact .main-content .infomation .title{
    font-size:13px;
    font-weight: bold;
    border-bottom:1px solid #ccc;
    padding-bottom:10px;
    color:#4088ff;
    margin-top:0px !important;
}
.main-contact .main-content .infomation .content{
    font-size:15px;
    padding-top:20px;
    padding-bottom:10px;
}
.main-contact .main-content .infomation .content2{
    font-size:15px;
    padding-bottom:15px;
}
.main-contact .main-content .contact-info{
    float:right;
    width:47%;
    border-width: 1px 0px 0px 0px;
    border-style:solid;
    border-color: #ccc;
    padding:0px;
}

.main-contact .main-content .contact-info ul{
    padding:0px;
    margin:0px;
    float:left;
    width:100%;
    border-bottom: 1px solid #ccc;
}

.main-contact .main-content .contact-info ul li{
    padding:5px;
    float:left;
    list-style: none;
    height:35px;
    line-height: 35px;

}
.main-contact .main-content .contact-info .title{
    font-size:13px;
    font-weight: bold;
    padding-bottom:10px;
    color:#4088ff;
    margin-top:0px !important;
}
.main-contact .main-content .contact-info .tel-number{
    font-size:20px;
    font-weight: bold;
    padding-bottom:10px;
    color:#000;
    width:65%;
}
/* 메인 스와이퍼 문구 작업 */
.main-swiper-image{
    width:100%;
    position:absolute;
    z-index:0;
    filter: brightness(70%);
}
.main-swiper-title{
    position:absolute;
    z-index:1;
    color:#fff;
    width:80%;
    height:50px;
    text-align:center;
    border-bottom:1px solid #fff;
    left:10%;
    top:calc(50% - 120px);
}
.main-swiper-content{
    position:absolute;
    z-index:1;
    color:#fff;
    width:80%;
    height:50px;
    text-align:center;
    left:10%;
    top:calc(50% - 50px);
    font-size:30px;
}
/* 카피라이터 */
.copyright{
    margin-top:30px;
    float:left;
    background-color:#eee;
    min-height: 100px;
    width:100%;
    padding:30px 0px 30px 0px;
}
.copyright-content{
    margin:0 auto;
    max-width: 1280px;
}
.copyright .compony-info{
    float:left;
    width:80%;
    font-size:12px;
}
.copyright .logo{
    float:left;
    font-size:20px;
    color:#4088ff;
    padding:20px;
}
.copyright .compony-infomation{
    line-height:25px;
}
.copyright .agree{
    float:left;
}
.copyright-year{
    float:left;
    text-align:center;
    width:100%;
    padding-top:10px;
    margin-top:10px;
    border-top: 1px solid #ccc;
}
/* 회원가입 관련 css */
.signup-form{
    margin-top:100px;
    z-index:5;
    background-color:#fff;
    height:calc( 100% - 200px );
    width:100%;
    border:1px solid #ccc;
}
/* 폼 관련 css */
.btn{
    border:1px solid #fff;
    background-color: transparent;;
}
.btn-round-line{
    border-radius:10px;
}
.btn-over:hover{
    background-color:#000 !important;
}
.agree-form{
    width : 100%;
    border : 1px solid #ccc;
    height:130px;
    overflow-y:auto;
    border-radius:5px;
    line-height:20px;
}
.input{
    margin-top:15px;
}
/* 서비스 목적 css*/
/* 배경 css*/
.service-content1 {
    width:100%;
    height:800px;
    min-height:300px;
    float:left;

    background-size:100% 100%;
}
.service1-background{
    background:url("/images/service1_back1.jpg");
}
.service-content1 .title{
    font-size:3.2em;
    font-width: bold;
    margin:30px;
    margin-top:300px;
    width:38%;
    text-align:left;
    color:#fff;
    float:left;
    line-height:25px;
}
.service-content1 .title .subtitle{
    font-size:35px;
    color:#fff;
    margin-top:10px;

}

.service-content1 .content{
    width:53.0%;
    float:left;
    background-color:rgba(0,0,0,0.5);
    height:400px;
    margin-top:200px;
    color:#fff;
    border-radius:5px;
    height:auto;
    font-size:25px;
    padding:20px;
}
.service-content1-2 {
    width:100%;
    height:800px;
    min-height:300px;
    float:left;
    background-size:100% 100%;
}
.service-content1-2 {
    width:100%;
    height:auto;
    min-height:300px;
    float:left;
    background-size:100% 100%;
    padding-top:40px;
}
/* 목적 및 기대효과 css */
.service-content1-2 .title{
    font-size:30px;
    text-align: center;
    border-bottom:1px solid #cccccc;
    padding-bottom: 10px;
    font-weight:bold;
}
.service-content1-2 .subtitle{
    font-size:20px;
    text-align: center;
   padding-top:10px;
}
.service-content1-2 .content{
    width:100%;
    padding:30px;
}
.service-content1-2 .content .img{
    width:30%;
    float:left;
}
.service-content1-2 .content .img img{
    width:100%;
}
.service-content1-2 .content .content-info{
    width:50%;
    margin-left:30px;
    height:auto;
    float:left;
    font-size:18px;
    line-height:30px;
}
.service-content1-2 .content .content-info2{
    width:100%;
    float:left;
    font-size:18px;
    line-height:30px;
}
/* 서비스 주요 내용 css */
.service3-background{
    background:url("/images/service1_back1.jpg");
}
.service-chart{
    width:100%;
    margin-top:20px;
    text-align: center;
}
.service-chart img{
    width:100%;
    max-width: 480px;
}

.service-procedure{
    width:100%;
    margin-top:20px;
    text-align: center;
    overflow-x:auto
}
.under1_back{
    background:url("/images/under1_back.jpg");
    background-size: cover;
}
.progress-background{
    background: url("/images/progress_back.jpg");
    background-size: cover;
}
.after-background{
    background:url("/images/after.jpg");
    background-size: cover;
}
/* 탭메뉴 시작 */
.tab-menu{
    width:100%;
    height:50px;
}
.tab-menu ul{
    float:left;
    width:100%;
    border-bottom:1px solid #c7cad0;
}
.tab-menu ul li{
    float:left;
    list-style: none;
    min-width:100px;
    height:30px;
    line-height:30px;
    padding:10px;
    font-size:17px;
    color:#c7cad0;
    text-align:center;
    cursor: pointer;
}
.tab-menu .active{
    border-bottom:3px solid #000;
    color:#000;
    font-weight:bold;
}
.image-table{
    width:100%;
    border:1px solid #ccc;
    border-spacing: 0px;
}
.image-table td{
    text-align: center;
    border-collapse: collapse;
    border:1px solid #ccc;
    width:33%;
}
.image-table td img{
    width:100%;
}
.mobile-image{
    display:none;
    text-align:center;
}
.mobile-image img{
    width:100%;

}
/* 진행 단계 css*/
.progress-content1{
    width:100%;
    padding:10px;
}
.progress-content1 ul{
    padding:0px;
}
.progress-content1 ul li{
    list-style: none;
    float:left;
    width:32%;

    padding-top:20px;
    font-size:18px;
    margin-left:5px;
}
.progress-content1 .title{
    font-size:20px;
    font-weight:bold;
    padding:10px;
    border-bottom:1px solid #000;
    text-align:center;
    width:85%;
}
.progress-content1{
    width:100%;
    padding:10px;
}
.progress-content1 ul{
    padding:0px;
}
.progress-content1 ul li{
    list-style: none;
    float:left;
    width:32%;

    padding-top:20px;
    font-size:18px;
    margin-left:5px;
}
.progress-content1 .title{
    font-size:20px;
    font-weight:bold;
    padding:10px;
    border-bottom:1px solid #000;
    text-align:center;
    width:85%;
}

.progress-content2{
    width:100%;
    padding:10px;
}
.progress-content2 ul{
    padding:0px;
}
.progress-content2 ul li{
    list-style: none;
    float:left;
    width:49%;

    padding-top:20px;
    font-size:18px;
    margin-left:5px;
}
.progress-content2 .title{
    font-size:20px;
    font-weight:bold;
    padding:10px;
    border-bottom:1px solid #000;
    text-align:center;
    width:85%;
}
/* 모바일 기준 css */
@media screen and (max-width: 1024px){
    .image-table{
        display:none
    }
    .mobile-image{
        display:block;
    }

    /* 공통 부분 */
    .title{
        margin-top:40px;
    }
    /* 회원로그인 회원 가입 메뉴 */
    .user-menu{
        display:none;
    }
    /* 데스크탑 메뉴 */
    .desktop-menu{
        display:none;
    }
    /* 모바일 메뉴 */
    .mobile-menu{
        display:block;
    }
    .main-service li{
        margin-top:20px;
        width:100%;
    }
    .main-contact .main-content{
        margin:0 auto;
        width:100%;
        padding:0px;
        max-width:1280px;
    }
    .main-contact .main-content .infomation{
        float:none;
        width:80%;
        margin:0 auto;
        margin-top:30px;
    }
    .main-contact .main-content .contact-info{
        float:none;
        width:85%;
        margin:0 auto;
        margin-top:30px;

    }
    .main-contact .main-content .contact-info .tel-number{
        width:50%;
    }
    .copyright .compony-info{
        float:none;
        width:80%;
        font-size:12px;
        margin:0 auto;
    }

    .copyright .logo{
       width:100%;
        padding:0px;
    }
    .copyright .agree{
        float:none;
        margin:0 auto;
        width:80%;
        margin-top:20px;
        text-align:center;
    }
    .mobile-draw-menu{
        width:250px;
    }
    .mobile-draw-menu ul{
        padding:0px;
    }
    .mobile-draw-menu ul li svg{
        vertical-align: middle;
    }
    .mobile-draw-menu ul li{
        list-style: none;
        font-size:15px;
        padding-left:10px;
        line-height:30px;
    }
    .mobile-draw-menu .sub-menu{
        display:none;
    }
    .mobile-draw-menu .sub-menu-open{
        display:block;
        padding-left:25px
    }
    .mobile-sign-menu{
        width:100%;
        background-color:#1685f6;
        color:#fff;
        padding:10px;
        font-size:15px;
        text-align:center;
    }
    .mobile-sign-menu a{
        color:#fff;

    }
    .titles{
        margin-top:50px;
    }

    .service-content1 .title{
        margin:70px 30px 30px 30px;
        width:95%;
    }
    .service-content1 .content {
        margin:0px;
        width:90%;
    }
    .service-content1-2 {
        width:95%;
        height:auto;
        min-height:300px;
        float:left;
        background-size:100% 100%;
        padding-top:40px;
    }

    .service-content1-2 .content{
        width:100%;
        padding:30px;
    }
    .service-content1-2 .content .img{
        width:90%;
        float:left;
    }
    .service-content1-2 .content .img img{
        width:100%;
    }
    .service-content1-2 .content .content-info{
        width:90%;
        margin-left:0px;
        float:left;
        font-size:20px;
    }

    .progress-content1 ul li{
        list-style: none;
        float:left;
        width:100%;

        padding-top:20px;
        font-size:18px;
        margin-left:5px;
    }

    .progress-content2 ul li{
        list-style: none;
        float:left;
        width:100%;

        padding-top:20px;
        font-size:18px;
        margin-left:5px;
    }
}
