.menu{

}
.submenu-close{
    display:none;
}
.submenu-open{
    position:absolute;
    border:1px solid #ccc;
    background-color: #fff;
    padding:10px;
    z-index:1000;
    float:left;
    width:auto;
}
.submenu-open ul{
    float:left;
    width:auto;
}
.submenu-open ul li{
    padding:5px;
    display: block;
    clear:left;
    line-height:20px;
}